* {
    font-size: 12pt;
}
* header {
    position: fixed;
    background: black;
    top:0;
    left:0;
    width:100%;
    height: 69px;
    border: 4px 15px 50px 50px red;
}

#Logo {
    color: white;
    font-size: 24px;
    background: red;
    padding-top: 20px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 20px;

}
.Picture {
    
    float:right;
    position: relative;
    right: 10px;
    top:35px;
    width: 25px;
    height: 25px;
    filter:invert(1);
    margin-top: 500;

}
#Cart {
    
    float:right;
    position: fixed;
    right: 40px;
    top:39px;
    margin-top: 500;

}
#Sign{
    
    float:right;
    position: fixed;
    right: 10px;
    margin-top: 500;

}



nav ul {
    display: inline;
    list-style: none;
    padding: none ;

}
nav ul li {

    float: left;
    padding: 10px;
    box-sizing: border-box;

}
nav ul li a {
    text-decoration: none;
    color: white;
}

.main {
    font-size: .1pt;
    position: relative;
    color: white;
    background: black;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 14px;
    border-color: purple;
    box-sizing: border-box;
    
}
input {    
    background: url("Images\pngfind.com-magnifying-glass-png-no-1043692.png");
    background-repeat: no-repeat;
    background-position: left center;outline:0;
    position: relative;
    top: -10px;
    left: 60px;
    height: 8px;
    margin-top: 0%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 5px;   
    background-color: white;
    }
#Icon {
    position: relative;
    top: 0px;
    left: 56px;
    width: 14px;
    height: 14px;
    margin:0;
    background: red;
    padding-top: 10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 8px;
}

.contentmaterial {
    margin-top: 0%;
    margin-left: -.3%;
    margin-right: -7%;
    margin-bottom: -69%;
    box-sizing: border-box;
    background-color: grey;
}